<!-- Linux命令行搜索引擎：https://jaywcjlove.github.io/linux-command/ -->
<div class="footer <%if(type=='home'){%> home <%}%>">
  <!-- <a target="_blank" href="https://github.com/jaywcjlove/linux-command/new/master/command">添加命令</a> | -->
  <a href="<%=relative_path%>hot.html">命令列表</a> |
  <!-- <a href="https://github.com/jaywcjlove/oscnews" target="_blank">Chrome 插件</a> | -->
  <!-- <a href="https://github.com/jaywcjlove/linux-command/releases" target="_blank">Alfred</a> | -->
  <!-- <a href="https://jaywcjlove.github.io/linux-command/linux-command.docset.zip" target="_blank">Dash</a> | -->
  <!-- <a href="https://github.com/roachsinai/krunner-linuxcommands" target="_blank">Krunner</a> | -->
  <!-- <a href="http://jaywcjlove.gitee.io/linux-command/" target="_blank">开源中国Web版</a> -->
  <!-- <br /> -->
  <!-- <a href="https://github.com/jaywcjlove/linux-command" target="_blank">Github 仓库</a> | -->
  <a href="https://www.nenufm.com" target="_blank">留声与视</a>
  <!-- <a href="https://jaywcjlove.github.io/linux-command/" target="_blank">短地址：https://git.io/linux</a> -->
  <br />
  收藏本站请使用 Ctrl+D 或者Command+d
  <br /> 共搜集到
  <span id="commands_info">
    <%=describe.command_length?describe.command_length:''%>
  </span> 个Linux命令，超过 <a href="<%=relative_path%>contributors.html">50+</a> 贡献者
</div>
<!--统计代码-->
<script type="text/javascript" data-instant>
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?e9af2ac09b38d468721db0fb6d56d825";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>